/* General settings */

body {
    margin: 0px;
    font: 11pt "DejaVu Sans","Bitstream Vera Sans",helvetica,sans-serif;
    /* background-color: #e8e8e8; */
}

h1 {
    text-align: center;
}

/* Result settings */

.keyword {
    color: blue;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

th {
    border-bottom: 1px solid black;
    background-color: silver;
}

td {
    vertical-align: top;
    border-bottom: 1px dotted silver;
}

td.line0 {
    
}

td.line1 {
    background-color: #eef6ff;
}

td.title {
    vertical-align: middle;
    border: 0px;
}

