/* General settings */

body {
    margin: 0px;
}

h1 {
    text-align: center;
}

/* Result settings */

.keyword {
    color: blue;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 1px; /* or else the border may not show */
}

th {
    color: black;
    background-color: silver;
    border-bottom: 1px dotted gray;
}

tbody {
    vertical-align: top;
    border-bottom: 1px dotted silver;
}

tr.continued > td, div.continued {
    padding-left: 1em;
}

/*
td.title {
    vertical-align: middle;
    border: 0px;
}
*/
